<div class="container">
  <form class="form-signin" role="form">
    <h2>Logar</h2>
    <label for="inputEmail" class="sr-only">{{Email}}</label>
    <input type="email" ng-model="Email" class="form-control" placeholder="email@sample.com" required autofocus>
    <label for="inputPassword" class="sr-only"></label>
    <input type="password" ng-model="Senha" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-click="logar()" type="submit">logar</button>
  </form>

</div> <!-- /container -->
<p>values</p>
{{Email}}