<button class="btn btn-large btn-primary" ng-click="add_User()"> + adicionar Usuario</button>
<hr>
<div ng-repeat="usuario in usuarios">
	<div class="col-md-offset-1 col-md-4  well">
		<p>{{usuario.id}}</p>
		<p>{{usuario.nome}}</p>
		<p>{{usuario.email}}</p>
			<button class="btn btn-small btn-warning" ng-click="delete_User({{usuario.id}})"> Deletar usuario {{usuario.id}}</button>
			<button class="btn btn-small btn-success" ng-click="update_User({{usuario.id}})"> Update usuario {{usuario.id}}</button>
	</div>
</div>


